
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../assets/script/dashboardAdmin.js"></script>
    <link href="../assets/css/dashboardadmin.css" rel="stylesheet" media="screen" />

</head>

<!--<table id="list-of-users"></table> -->


<body background="http://eskipaper.com/images/dark-universe-hd-1.jpg">

<button id = "btn1" onclick="window.location.href='/dashboard/admin-view'">VIEW USERS</button>
<button id = "btn2" onclick="window.location.href='/dashboard/admin-adduser'">ADD NEW USER</button>
<button id = "btn3" onclick = "window.location.href = '/dashboard/admin-delete'">REMOVE USER</button>
<button id = "btn4" onclick = "window.location.href = '/dashboard/admin-update'">UPDATE USER</button>

</body>
</html>
