<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../assets/script/deleteuser.js"></script>
    <link href="../assets/css/dashboardadmin.css" rel="stylesheet" media="screen" />
    <link href="../assets/css/modifyUser.css" rel = "stylesheet" media="screen" />

</head>
<body background="http://eskipaper.com/images/dark-universe-hd-1.jpg">
<div id="removeFormDiv" align="center">
    <form id="removeUserid" method="get" class = "form-style-4" >
        <label>
            <span class="label">Enter the User ID:</span>
            <input type="text" id="removeuid" name="removeuid">
        </label>
        <br>
        <input id="remove" type="submit" value="Remove">
    </form>
</div>

<button id = "btn3" onclick="back()">Go Back</button>

</body>