<!DOCTYPE html>
<html>
  <head>
    <link href="css/email.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <h1>Your Friends</h1>

    <ul id="friends-list">
    </ul>

    <h4>Find Friends</h4>
    <input type="text" id="search-friend" />
    <button id="search-trigger">Search</button>
    <select id="search-field">
      <option value="name">Name</option>
      <option value="email">Email</option>
    </select>
    
    <ul id="search-results">
    </ul>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/friends.js"></script>
  </body>
</html>
