<!DOCTYPE html>
<html>
  <head>
    <link href="imports/font-awesome/css/font-awesome.css" rel="stylesheet"
                                                              media="screen" />
    <link href="css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <h1 id="logo">
      <span class="first">EZ</span>
      <span class="second">PLAN</span>
    </h1><br />
    <div class="login-box">
      <a href="#" id="fb-login-bt"><i class="fa fa-facebook"></i> Login with Facebook</a>
    </div>
  </body>
</html>
