<!DOCTYPE html>
<html>
  <head>
    <link href="imports/font-awesome/css/font-awesome.css" rel="stylesheet"
                                                              media="screen" />
    <link href="css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <h1 id="logo">
      <span class="first">EZ</span>
      <span class="second">PLAN</span>
    </h1><br />
    <div class="login-box">
      <a href="#" id="fb-login-bt"><i class="fa fa-facebook"></i> Login with Facebook</a>
      <label for="email">Email </label><input type="text" id="email" class="text-field"/>
      <label for="password">Password </label><input type="password" id="password" class="text-field" />
      <button id="login-bt">Login</button>

    </div>
    <!-- scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
