<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../assets/js/searchCourse.js"></script>
    <link href="css/friend.css" rel="stylesheet" media="screen" />
</head>
<body>
    <body background="http://cdn.pcwallart.com/images/universe-stars-background-wallpaper-3.jpg">

    <h4>Recommended Friends</h4>
    
    <div>
    <ul id="recommended-friends-results"></ul>
    </div>

    <button id="Back" onclick="back()">Go Back</button>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../assets/script/displayRecommended.js"></script>
</body>
</html>
