<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../assets/script/viewalluser.js"></script>
    <link href="../assets/css/dashboardadmin.css" rel="stylesheet" media="screen" />
    <link href="../assets/css/viewuser.css" rel="stylesheet" media="screen" />
</head>

<body background="http://eskipaper.com/images/dark-universe-hd-1.jpg">
<table id="list-of-users"></table>

<button id = "btn3" onclick="back()">Go Back</button>

</body>
</html>