body{
	color: white;
}

#btn1{
  margin-top: 15%;
}

button {
  margin-left: 35%;
  float: left;
  width: 301px;
  height: 46px;
  margin-top: 47px;
  font-size: 16px;
  background-color: rgba(52,152,219,0.5);
  color: #f5f505;
  border: none;
  font-weight: 100;
  outline: none;
}