/* import fonts */
@import url('https://fonts.googleapis.com/css?family=NTR');

* {
  box-sizing: border-box;
}

table, th, td {

  border: thin solid black;
}

body {
  font-family: 'NTR', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2a58fc;
}
h1, h3, h2, h4, h5, h6, p {
  color: #FFF;
}
.login-box,
.sign-up-box {
  text-align: center;
  height: auto;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.sign-up-box {
  display: none;
}
.login-box #fb-login-bt {
  background-color: #3B5998;
  color: #fff;
  width: 300px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 54px;
}
.login-box #fb-login-bt .fa-facebook {
  margin-right: 10px;
  position: absolute;
  left: 17px;
  top: 13px;
  font-size: 32px;
}
.text-label,
.text-field {
  display: inline-block;
}
.text-label {
  width: 60%;
  text-align: left;
  color: #fff;
  font-weight: 300;
}
.text-field {
  text-align: left;
  border: 3px #525252 solid;
  height: 46px;
  width: 301px;
  outline: none;
  font-size: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.text-field:focus{
  border-color: #000;
}
.form-button {
  width: 301px;
  height: 46px;
  margin-top: 47px;
  font-size: 16px;
  background-color: #f72020;
  color: #FFF;
  border: none;
  font-weight: 100;
  outline: none;
  cursor: pointer;
}
.error.text-field:focus,
.error.text-field {
  border-color: red;
}
.error.msg {
  color: red;
  width: 299px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 20px;
}
.login-box .error.msg {
  padding-top: 15px;
}
#login-nav {
  list-style-type: none;
  width: 300px;
  display: block;
  height: 46px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 30px;
  position: relative;
}
#login-nav li {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 19px;
}
#login-nav li a {
  text-decoration: none;
  color: #fff;
}
#login-nav .selected {
  height: 1px;
  background-color: #fff;
  bottom: 11px;
  position: absolute;
  width: 60px;
  left: 45px;
}
#logo {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  margin-bottom: -23px;
}
#logo .first {
  color: #FFF;
}
#logo .second {
  color: #e21f1f;
}
